.dygraph-title {
  font-weight: bold;
}
.dygraph-label {
  font-family: Helvetica;
}
.dygraph-axis-label {
  font-family: Helvetica;
  font-size: 12px;
}
.dygraph-legend {
  font-family: Helvetica;
}
